.form {
  flex: 1;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  color: black;
  padding: 0px 10px;
}

.form input::placeholder {
  font-size: 20px;
}

.form_newsletter {
  width: 100%;
  display: flex;
  align-items: center;
}

.form_newsletter input {
  flex: 0.5;
  height: 20px;
}

.form_newsletter label {
  flex: 3;
  color: white;
  font-size: 18px;
  text-align: center;
}

.form button {
  padding: 8px 45px;
  cursor: pointer;
  font-size: 24px;
}

.form button:hover {
  background: linear-gradient(189.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

@media (min-width: 1024px) {
  .form input {
    width: 60%;
  }

  .form_newsletter {
    width: 60%;
  }

  .form button {
    font-size: 28px;
  }
}
