.editor_wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
  scroll-behavior: smooth;
  background-color: #1e1e1e;
}

.editor_wrapper .button {
  position: absolute;
  top: -40px;
  left: 0;
}
