.signin_form {
  min-height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border-top: 5px solid #ae67fa;
  background-color: white;
  margin: 48px 0;
  border-radius: 5px;
  padding: 10px;
}

.form {
  max-width: 450px;
  width: 90vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040c18;
  border-radius: 5px;
  margin-bottom: 30px;
}

.logo_image {
  border-radius: 50%;
  margin: 10px 0px 10px 10px;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.logo_container h3 {
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin-right: 10px;
}

.form_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form_row label {
  font-size: 16px;
  margin-bottom: 8px;
}

.form_row input {
  width: 100%;
  height: 45px;
  border: 1px solid #a3a9b3;
  border-radius: 5px;
  background: #d4dbe6;
  font-size: 18px;
  padding: 0px 10px;
}

.submit_btn {
  height: 45px;
  border: 1px solid #a3a9b3;
  border-radius: 60px;
  cursor: pointer;
  font-size: 25px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  margin-top: 20px;
}

.google_btn {
  height: 30px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #d4dbe6;
  border: 1px solid #a3a9b3;
}

.google_btn span {
  margin-left: 3px;
}

.google_btn:hover span {
  color: red;
}

.icon {
  margin-right: 10px;
  font-size: 22px;
}

.submit_btn:hover {
  color: white;
}

.register {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.register p {
  font-size: 15px;
}

.register_btn {
  color: #ae67fa;
  padding-left: 10px;
  font-size: 15px;
}

.register_btn:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .logo_container h3 {
    font-size: 40px;
  }
  .register p {
    font-size: 20px;
  }

  .register_btn {
    font-size: 20px;
  }

  .wrapper {
    padding: 32px;
  }

  .logo_image {
    width: 65px;
    height: 65px;
  }
}
