.chat_hero {
  height: 100%;
  width: 100%;
}

.chat_grid {
  height: 100%;
  width: 100%;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
