.chat_hero {
  height: 100%;
  width: 100%;
}

.chat_grid {
  height: 100%;
  width: 100%;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px; */
  /* grid-auto-rows: 300px; */
}
