.chat_side {
  min-height: calc(100vh - 171px);
  background-color: #1e1f26;
  transform: translateX(-10vw);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu_items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.chat_side_close {
  width: 0;
  opacity: 0;
}

.chat_side_open {
  width: 20%;
  opacity: 1;
  transform: translateX(0vw);
}

.chat_side h2 {
  color: azure;
}
