.chat_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 5px;
}

.chat_container:active {
  opacity: 0.9;
}

.chat_assistant {
  display: flex;
  align-items: center;
  min-height: 75px;
  width: 70%;
  /* justify-content: flex-start; */
}

.code_container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 100%;
}

.image {
  border: 1px solid #0b0c11;
  border-radius: 5px;
  background-color: #3d3f4d;
}

.icon {
  cursor: pointer;
  color: #8a8c9c;
  position: absolute;
  top: 20px;
  right: 40px;
}

.comment {
  margin-right: 25px;
}

.bot_background {
  background: rgba(17, 27, 39, 0.699);
}
