.chat_navbar {
  width: 100%;
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgb(17, 27, 39);
}

.nav_icon {
  display: flex;
  font-size: 35px;
  color: white;
  cursor: pointer;
  z-index: 10;
  margin-right: 20px;
}

.logo_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.total_amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.total_amount p {
  font-size: 12px;
  color: #b9bbbe;
  font-weight: 500;
  text-align: center;
}

.total_amount span {
  font-size: 12px;
  font-weight: 300;
  color: #7fff00;
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .chat_navbar {
    padding: 0 25px;
  }

  .logo {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15%;
  }

  .total_amount {
    margin-right: 15px;
  }

  .total_amount span {
    font-size: 16px;
  }

  .total_amount p {
    font-size: 16px;
  }
}
