.chat_hero {
  height: 100%;
  width: 100%;
}

.chat_grid {
  min-height: calc(100vh - 210px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
