.chat_side {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1f26;
  padding: 15px;
}

.chat_side_close {
  display: none;
}

.chat_side_open {
  display: flex;
}

.chat_side h2 {
  color: azure;
}
