.card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 35px 20px;
  background: rgb(17, 27, 39);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 0 6px 0px rgba(61, 245, 5, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.desc_container {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 245, 5, 0.5);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.price {
  font-size: 24px;
  color: #fff;
}

.desc {
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 27, 39);
}

.plan {
  font-size: 22px;
  color: rgba(61, 245, 5, 1);
}

.price_btn {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}

.price_btn:hover {
  border: none;
  background-color: rgba(61, 245, 5, 0.6);
  color: rgb(17, 27, 39);
  box-shadow: 0 0 6px 0px rgba(61, 245, 5, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

@media (min-width: 768px) {
  .card {
    width: 400px;
  }
}
