.token {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
}

.token h4 {
  color: '#fffff';
  font-size: 12px;
  font-weight: 500;
}

.token p {
  font-size: 12px;
  color: chartreuse;
  margin-left: 5px;
}

.glassmorphism {
  background: rgb(17, 27, 39);
  box-shadow: 2px 2px 6px 0px rgba(128, 121, 121, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
