.about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #040c18;
  position: relative;
  padding: 64px;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.about_content {
  font-family: 'Eudoxus Sans';
  font-weight: 200;
  font-size: 30px;
  color: white;
  line-height: 120%;
  margin: 0;
}

.about_content span {
  font-weight: 800;
}
