.explore {
  position: relative;
  padding: 24px;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.cards_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  gap: 1.25rem;
}

@media (min-width: 1024px) {
  .explore {
    padding: 64px;
  }

  .cards_container {
    flex-direction: row;
  }
}
