.founder {
  position: relative;
  padding: 48px 24px;
}

.founder_container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.founder_content_wrapper {
  position: relative;
  flex: 0.7;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid rgb(106 106 106);
}

.name {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: white;
}

.company {
  margin-top: 8px;
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.content {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  line-height: 39.6px;
  color: white;
}

.founder_image_container {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder_image {
  width: 100%;
  height: auto;
  min-height: 210px;
  object-fit: cover;
  object-position: 0% 25%;
  border-radius: 40px;
}

.stamp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10%;
  top: 3%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.image {
  display: none;
}

@media (min-width: 1024px) {
  .whats_new {
    padding: 64px;
  }

  .founder_container {
    flex-direction: row;
  }

  /* .founder_content_wrapper {
    max-width: 370px;
  } */

  .founder_image {
    height: 750px;
  }

  .image {
    display: block;
    border-radius: 50%;
  }
}

@media (min-width: 640px) {
  .content {
    font-size: 24px;
    line-height: 45.6px;
  }

  .name {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
  }

  .company {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
}
