.hero_wrapper {
  padding: 4rem 4rem 4rem 0;
  height: calc(100vh - 95.99px);
}

.hero_container {
  max-width: 1024px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.hero_title h1 {
  font-weight: 700;
  font-size: 144px;
  letter-spacing: 1.25rem;
  color: white;
  text-transform: uppercase;
}

.hero_title h2 {
  color: white;
  font-weight: 400;
  font-size: 55px;
  margin-top: -15px;
}

.image_motion {
  position: relative;
  width: 90%;
  margin-top: 30px;
}

.image_container {
  position: absolute;
  width: 100%;
  height: 150px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 0;
  top: -35px;
}

.image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  z-index: 10;
}
