.chat_section {
  position: relative;
  min-height: calc(100vh - 96px);
  padding: 64px;
  background-image: url('/images/ai.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.content_container {
  max-width: 1280px;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.content {
  padding: 15px;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotate(-15deg);
  border-bottom-right-radius: 20px;
  position: absolute;
  z-index: 2;
  top: -25%;
  left: -20%;
  border: 1px solid black;
}

.content h1 {
  font-size: 32px;
  color: rgba(4, 12, 24, 1);
  font-weight: 400;
}

.content p {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.image_container {
  position: relative;
}

.content_image {
  border-radius: 20px;
}
