.chat_title {
  min-height: 100vh;
  padding: 24px;
  background-image: url('/images/blog.png');
  background-attachment: fixed;
  background-position: 40%;
  background-size: cover;
}

.chat_title_container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.chat_title h1 {
  font-size: 65px;
  font-weight: 700;
  margin-top: 200px;
}

.chat_title p {
  max-width: 1280px;
  font-size: 22px;
  text-align: center;
  color: white;
  background: rgba(4, 12, 24, 1);
  padding: 15px;
  border-radius: 10px;
}

.chat_section {
  position: relative;
  padding: 24px;
  background-image: url('/images/ai.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.content_container {
  max-width: 1280px;
  gap: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

.content {
  padding: 15px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  z-index: 2;
  top: 0;
}

.content h1 {
  font-size: 26px;
  color: rgba(4, 12, 24, 1);
  font-weight: 500;
}

.content p {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.image_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_title p {
  font-size: 24px;
  font-weight: 500;
  color: white;
  line-height: 40px;
  height: 100%;
}

.content_image {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.bot_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.text {
  flex: 1;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(189.97deg, #ae67fa 1.84%, #f49867 102.67%);
  margin: 40px 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.text p {
  font-size: 24px;
  font-weight: 500;
  color: #282a33;
  line-height: 35px;
}

.tutor_text p {
  font-size: 24px;
  font-weight: 500;
  color: white;
  line-height: 50px;
}

.tutor_text {
  text-align: center;
}

.tutor_span {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .chat_section {
    padding: 64px;
  }

  .chat_title {
    padding: 64px;
    background-size: 100% 60%;
    background-repeat: no-repeat;
  }

  .chat_title h1 {
    font-size: 85px;
  }

  .chat_title p {
    font-size: 26px;
  }

  .content_image {
    width: 600px;
    height: 500px;
  }
}

@media (min-width: 640px) {
  .content {
    width: 360px;
    height: 100px;
    left: 50%;
    top: 65%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 0;
  }

  .content h1 {
    font-size: 32px;
    color: rgba(4, 12, 24, 1);
    font-weight: 400;
  }

  .content_title p {
    font-size: 36px;
    line-height: 60px;
  }

  .text p {
    font-size: 30px;
    line-height: 60px;
    margin-top: 0;
    text-align: center;
  }

  .tutor_text {
    margin-top: 30px;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .chat_title h1 {
    font-size: 40px;
    text-align: center;
  }
}
