.add_cell {
  position: relative;
  opacity: 0.4;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 10px 0;
}

.add_cell:hover {
  opacity: 1;
}

.divider {
  width: 95%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  z-index: -1;
}

.add_cell.force_visible {
  opacity: 1;
}

.add_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.add_buttons button {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add_btn {
  width: 60px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #b9bbbe;
  transition: all 0.3s ease-in-out;
  background: rgb(17, 27, 39);
  box-shadow: 0 0 4px 0px rgba(61, 245, 5, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (min-width: 770px) {
  .add_cell {
    opacity: 0;
  }

  .add_buttons button {
    margin: 0 10px;
  }

  .add_btn {
    width: 115px;
    font-size: 24px;
    border-radius: 5px;
  }

  .add_btn:hover {
    color: rgba(61, 245, 5, 0.9);
  }
}
