.add_cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 10px 0;
}

.add_cell:hover {
  opacity: 1;
}

.divider {
  width: 95%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  z-index: -1;
}

.add_cell.force_visible {
  opacity: 1;
}

.add_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.add_buttons button {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6px;
}

.add_btn {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  width: 70px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.add_btn:hover {
  color: black;
}

/* .add_btn:hover .icon {
  color: black;
} */

.icon {
  display: none;
}

@media (min-width: 640px) {
  .icon {
    display: flex;
    color: white;
    font-size: 27px;
  }

  .add_buttons button {
    margin: 0 30px;
  }

  .add_btn {
    width: 115px;
    font-size: 24px;
    border-radius: 10px;
    /* letter-spacing: 0.3rem; */
  }
}
