.logo {
  font-size: 22px;
  font-weight: 500;
}
.logo {
  display: none;
}

@media (min-width: 840px) {
  .logo {
    display: flex;
    font-size: 40px;
    font-family: 'La Belle Aurore';
    font-weight: 400;
    letter-spacing: 0.3rem;
  }
}
