.register {
  min-height: calc(100vh - 5rem);
  padding: 64px 24px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

@media (min-width: 1024px) {
  .register {
    min-height: calc(100vh - 6rem);
    padding: 64px;
    flex-direction: row;
    gap: 0px;
  }
}
