.text_typed span {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: whitesmoke;
}
.text_typed {
  margin: 16px 0;
}

.text_title {
  font-size: 64px;
  color: white;
  font-weight: 600;
  text-align: center;
}
