/* Chat GPT3 CSS */

.chat_wrapper {
  width: 100%;
  padding: 15px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    #042c54 85%,
    #1b78de 100%
  );
}

.ai .message {
  color: #f49867;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: white;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar {
  display: none;
}
