.react-resizable-handle {
  display: block;
  background: rgba(29, 28, 37, 1) 0%;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(189.97deg, #b9bbbe 1.84%, rgb(17, 27, 39) 102.67%);
  border: 2px solid #30363d;
}

.react-resizable-handle-e {
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background: linear-gradient(189.97deg, #b9bbbe 1.84%, rgb(17, 27, 39) 102.67%);
  border: 2px solid #30363d;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-draggable-transparent-selection iframe {
  pointer-events: none;
}

.react-draggable-transparent-selection .cell-list {
  margin-bottom: 100vh;
}
